.header {
  background: linear-gradient(135deg, #4b5055 0%, #03334b 100%);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;

  h1 {
    color: #f1f1f1;
    font-size: 36px;
    font-family: 'Roboto', sans-serif; // Fuente minimalista
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    position: relative;

    // Línea decorativa a la izquierda
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -60px;
      width: 50px;
      height: 2px;
      background-color: #f1f1f1;
      transform: translateY(-50%);
    }

    // Línea decorativa a la derecha
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -60px;
      width: 50px;
      height: 2px;
      background-color: #f1f1f1;
      transform: translateY(-50%);
    }
  }
}
